p,
h3 {
  margin: 0;
}
body {
  overflow: hidden;
}
body::after {
  content: "";
  display: block;
  clear: both;
}
body .bg {
  position: fixed;
  top: -30px;
  right: -30px;
  bottom: -30px;
  left: -30px;
  z-index: -2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  filter: blur(40px);
}
body .bgzz {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.51;
  z-index: -1;
}
body .stage {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding: 100px 0;
}
body header {
  position: relative;
  height: 100px;
  width: 400px;
  float: left;
  margin-top: 150px;
  margin-left: 140px;
}
body header .main {
  position: relative;
  z-index: 6;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 30px 80px #656565;
  border-radius: 15px;
}
body header .main::after {
  content: "";
  display: block;
  clear: both;
}
body header .main .img {
  display: flex;
  position: absolute;
  top: -40px;
  left: 30px;
  width: 115px;
  height: 115px;
  background: white;
  border-radius: 50%;
}
body header .main .img.img.active {
  background: transparent;
  top: -50px;
  transform: scale(1.2);
}
body header .main .img img {
  position: absolute;
  top: 9px;
  left: 9px;
  border-radius: 50%;
  width: 85%;
  height: 85%;
  transform: rotateZ(0deg);
}
body header .main .img img.active {
  animation: tian 5s infinite linear;
}
body header .main .img span {
  position: absolute;
  margin: 48.5px;
  width: 12px;
  height: 12px;
  border: 3px white solid;
  border-radius: 50%;
  background: lightgray;
}
body header .main .press {
  margin-left: 150px;
  height: 100%;
}
body header .main .press .prev {
  text-align: center;
  width: 29%;
  float: left;
  padding: 15px 5px;
}
body header .main .press .prev .i {
  padding: 25px;
  border-radius: 5px;
}
body header .main .press .prev .i:hover {
  background: #d6d6de;
}
body header .main .press .prev .i:hover i {
  color: white;
}
body header .main .press .prev .i i {
  font-size: 26px;
  color: #d6dee7;
}
body header .main .press .play {
  text-align: center;
  width: 29%;
  float: left;
  padding: 15px 5px;
}
body header .main .press .play .i {
  position: relative;
  padding: 25px;
  border-radius: 5px;
  height: 26px;
}
body header .main .press .play .i:hover {
  background: #d6d6de;
}
body header .main .press .play .i:hover i {
  color: white;
}
body header .main .press .play .i i {
  font-size: 26px;
  line-height: 25px;
  position: absolute;
  left: 0;
  right: 0;
  color: #d6dee7;
}
body header .main .press .next {
  text-align: center;
  width: 29%;
  float: left;
  padding: 15px 5px;
}
body header .main .press .next .i {
  padding: 25px;
  border-radius: 5px;
}
body header .main .press .next .i:hover {
  background: #d6d6de;
}
body header .main .press .next .i:hover i {
  color: white;
}
body header .main .press .next .i i {
  font-size: 26px;
  color: #d6dee7;
}
body header .eject {
  transition: all 1s;
  position: absolute;
  top: 0px;
  left: 15px;
  right: 15px;
  border-radius: 10px;
  background: #fff7f7;
  z-index: 5;
  opacity: 0;
}
body header .eject .fustagr {
  margin-left: 125px;
  margin-right: 20px;
  height: 100%;
  padding: 10px 15px;
}
body header .eject .fustagr h3 {
  color: #54576f;
  font-size: 14px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
body header .eject .fustagr p {
  color: #acaebd;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 2px 0 5px 0;
}
body header .eject .fustagr .time {
  color: #f86d92;
  font-size: 13px;
}
body header .eject .fustagr .time::after {
  content: "";
  display: block;
  clear: both;
}
body header .eject .fustagr .time span:nth-child(1) {
  float: left;
}
body header .eject .fustagr .time span:nth-child(2) {
  float: right;
}
body header .eject .fustagr .volume {
  background: #ffe8ee;
  height: 55px;
  width: 4px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 15px;
}
body header .eject .fustagr .volume:hover span {
  opacity: 1;
}
body header .eject .fustagr .volume div.box1 {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body header .eject .fustagr .volume div.box1 div.box2 {
  background: #fd6d94;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  width: 4px;
}
body header .eject .fustagr .volume span {
  pointer-events: none;
  background: white;
  position: absolute;
  top: 0;
  left: -3px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s all;
}
body header .eject .fustagr .volume i {
  color: #536d8a;
  position: absolute;
  bottom: -20px;
  left: -4px;
}
body header .eject .fustagr .loading {
  background: #ffe8ee;
  height: 4px;
  border-radius: 5px;
  position: relative;
}
body header .eject .fustagr .loading div {
  background: #fd6d94;
  pointer-events: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;
  transition: 0.5s all;
}
body header .eject .fustagr .loading span {
  pointer-events: none;
  background: white;
  position: absolute;
  top: -3px;
  left: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  transition: 0.5s all;
}
body header .eject.active {
  top: -90px;
  padding-bottom: 30px;
  opacity: 1;
}
body footer {
  padding: 15px;
  background: #fff7f7;
  margin-top: 50px;
  margin-left: 50px;
  float: left;
  border-radius: 15px;
  width: 200px;
}
body footer input {
  width: 75%;
  line-height: 17px;
  border-radius: 5px;
  outline: none;
  border: lightpink 1px solid;
}
body footer button {
  border-radius: 5px;
  background: white;
  border: 1px solid  outset ;
  border-color: lightpink;
  color: #acaebd;
  outline: none;
}
body footer ul {
  list-style: none;
  padding: 0;
}
body footer ul li {
  margin: 5px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #acaebd;
}
body footer ul li.active {
  background: #fd6d94;
  color: white;
}
@keyframes tian {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
