body {
  background: linear-gradient(#c5426e, #642b72) no-repeat;
  background-size: cover;
  perspective: 1000px;
  padding: 50px;
}
body .stage {
  padding: 15px;
  background: white;
  margin: 0 auto;
  width: 700px;
  height: 450px;
  border-radius: 10px;
  transform-style: preserve-3d;
  position: relative;
}
body .stage:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.8);
}
body .stage h3 {
  color: #eb285d;
  font-size: 16px;
  margin-bottom: 6px;
}
body .stage h1 {
  color: #3e3e42;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 30px;
}
body .stage div.img::after {
  content: "";
  clear: both;
  display: block;
}
body .stage div.img div {
  float: left;
  width: 30%;
  overflow: hidden;
  margin: 0px 10px;
  border-radius: 10px;
  transform: translateZ(35px);
}
body .stage div.img div img {
  vertical-align: middle;
  position: relative;
}
body .stage div.img div.mono {
  background: url("../img/3dr_monobg.jpg") no-repeat top;
}
body .stage div.img div.mono img {
  width: 100%;
  top: 35px;
}
body .stage div.img div.qian {
  background: url("../img/3dr_spirited.jpg") no-repeat;
  background-size: contain;
}
body .stage div.img div.qian img {
  width: 73%;
  top: 20px;
  left: 35px;
}
body .stage div.img div.haer {
  background: url("../img/3dr_howlbg.jpg") no-repeat;
  background-size: cover;
}
body .stage div.img div.haer img {
  width: 100%;
  top: 20px;
}
